/*=========================
  Body Text
===========================*/

.jd-text-body {
  font-size: .75rem;
  line-height: 1.6;
  font-weight: 400;
}

.jd-text-body--s {
  font-size: .65rem;
}
.jd-text-body--m {
  font-size: .75rem;
}
