/*=========================
  Text Colors
===========================*/

.jd-text-color-primary {
  color: $jd-color-text-primary;
}
.jd-text-color-secondary {
  color: $jd-color-text-secondary;
}
.jd-text-color-accent {
  color: $jd-color-text-accent;
}
