/*=========================
  Grid
===========================*/

.jd-grid {
  display: grid;
  gap: map-get($jd-spacers, 'l');
}

.jd-grid--3-columns {
  grid-template-columns: repeat(3, 1fr);
}

@media #{$up-to-desktop} {
  .jd-grid--3-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media #{$mobile} {
  .jd-grid--3-columns {
    grid-template-columns: repeat(1, 1fr);
  }
}
