/*=========================
  Grid
===========================*/

.jd-grid {
  display: grid;
  gap: map-get($jd-spacers, 'l');
}

@mixin jd-grid-list($count) {
  @for $i from 2 through $count {
    .jd-grid--#{$i}-columns {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
  }
}

@include jd-grid-list(6);
