/*=========================
  Background Colors
===========================*/

$color-bg-primary: #fff;
$color-bg-primary-inverse: #171717;
$color-bg-substrate: #f5f5f5;
$color-bg-accent: #1375f8;
$color-bg-success: #39dd00;
$color-bg-warning: #fc9b00;
$color-bg-error: #ff0000;

/*=========================
  Text Colors
===========================*/

$color-text-primary: #343235;
$color-text-primary-inverse: #fff;
$color-text-secondary: #343235;
$color-text-accent: #1375f8;
$color-text-success: #39dd00;
$color-text-warning: #fc9b00;
$color-text-error: #ff0000;

/*=========================
  Border Colors
===========================*/

$color-border-primary: #c5c5c5;

/*=========================
  Fonts
===========================*/

$font-primary: sans-serif;
$font-secondary: sans-serif;

/*=========================
  Path
===========================*/

$path-image: '../img';
