/*=========================
  Background Colors
===========================*/

$jd-color-bg-primary: #fff;
$jd-color-bg-primary-inverse: #171717;
$jd-color-bg-substrate: #F1F5F9;
$jd-color-bg-accent: #686de0;
$jd-color-bg-accent-secondary: #f9ca24;
$jd-color-bg-success: #badc58;
$jd-color-bg-warning: #f0932b;
$jd-color-bg-error: #eb4d4b;

/*=========================
  Text Colors
===========================*/

$jd-color-text-primary: #1e293b;
$jd-color-text-primary-inverse: #fff;
$jd-color-text-secondary: #64748b;
$jd-color-text-tertiary: #94a3b8;
$jd-color-text-accent: #686de0;
$jd-color-text-success: #badc58;
$jd-color-text-warning: #f0932b;
$jd-color-text-error: #eb4d4b;

/*=========================
  Border Colors
===========================*/

$jd-color-border-primary: #CBD5E1;
$jd-color-border-secondary: #606F86;

/*=========================
  Fonts
===========================*/

$jd-font-primary: 'Inter', sans-serif;
$jd-font-secondary: sans-serif;

/*=========================
  Path
===========================*/

$jd-path-image: '../img';
$jd-path-icons: '../img/icons';

/*=========================
  Spaces
===========================*/

$jd-spacers: (
  '2xs': .25rem,
  'xs': .5rem,
  's': .75rem,
  'm': 1rem,
  'l': 1.5rem,
  'xl': 2rem,
  '2xl': 3rem,
);

/*=========================
  Sizes
===========================*/

$jd-control-height: 2.4rem;
$jd-control-height-s: 2rem;

/*=========================
  Header
===========================*/

$jd-header-height: 3.5rem;
