@import 'assets/scss/base/variables';
@import 'assets/scss/tokens/focus';

/*=========================
  Logo
===========================*/

.jd-logo {
  display: block;
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-left: .5rem;

  &:focus {
    @include jd-no-focus();
  }
}

.jd-logo--active {
  pointer-events: none;
}

.jd-logo__js {
  position: relative;
  margin-right: .25em;

  &:before {
    content: '';
    display: block;
    position: absolute;
    right: -.1em;
    bottom: 0;
    width: 1.6em;
    height: 1.6em;
    background: $jd-color-bg-accent-secondary;
    border-radius: .15rem;
  }

  span {
    position: relative;
  }
}

.jd-logo__dot {
  font-size: 150%;
  line-height: .5;
  margin-left: -.05em;
}
