/*=========================
  Body Text
===========================*/

.jd-text-body {
  font-size: .75rem;
  line-height: 1.6;
  font-weight: 400;

  p + p {
    margin-top: 1em;
  }
}

.jd-text-body--s {
  font-size: .65rem;
}

.jd-text-body--m {
  font-size: .75rem;
}

.jd-text-body--l {
  font-size: 1rem;
}
