/*=========================
  Link
===========================*/

@mixin jd-link--hover {
  border-bottom-color: transparent;
  color: $jd-color-text-accent;
}

.jd-link {
  text-decoration: none;
  color: $jd-color-text-primary;
  border-bottom: solid 1px rgba($jd-color-text-primary, .75);
}

.jd-link--accent {
  color: $jd-color-text-primary;
  font-weight: 600;
  border: none;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: 0;
    height: .5em;
    background: rgba($jd-color-bg-accent-secondary, .5);
    z-index: -1;
  }
}

@media (hover: hover) {
  .jd-link:hover {
    @include jd-link--hover();
  }

  .jd-link--accent:hover {
    color: $jd-color-text-primary;

    &:before {
      background-color: rgba($jd-color-bg-accent, .2);
    }
  }
}
