/*=========================
  Logo Root
===========================*/

.jd-logo-root {
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-left: .5rem;
}

.jd-logo-root__js {
  position: relative;
  margin-right: .2em;
  font-weight: 700;;

  &:before {
    content: '';
    display: block;
    position: absolute;
    right: -.1em;
    bottom: 0;
    width: 1.6em;
    height: 1.6em;
    background: $jd-color-bg-accent-secondary;
    border-radius: .15rem;
  }

  span {
    position: relative;
  }
}

.jd-logo-root__dot {
  font-size: 150%;
  line-height: .5;
  margin-left: -.15em;
}
