/*=========================
  Pet layout
===========================*/

.jd-pet-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "gallery about"
    "main main";
  row-gap: map-get($jd-spacers, '2xl');
  column-gap: map-get($jd-spacers, 'xl');
}

.jd-pet-layout__gallery {
  grid-area: gallery;
}

.jd-pet-layout__about {
  grid-area: about;
}

.jd-pet-layout__main {
  grid-area: main;
  display: flex;
  gap: 0 map-get($jd-spacers, 'xl');
}

.jd-pet-layout__main__content {
  flex-grow: 1;
}

.jd-pet-layout__main__side {
  flex-basis: 13rem;
  min-width: 13rem;
  position: relative;
}

.jd-pet-layout__main__side__sticky {
  position: sticky;
  top: map-get($jd-spacers, 'm');
}
