@import 'assets/scss/base/variables';
@import 'assets/scss/typography/body';
@import 'assets/scss/typography/colors';

/*=========================
  Filter Panel
===========================*/

.jd-filter-panel {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: map-get($jd-spacers, 'm');
}

.jd-filter-panel__markup {
  margin-left: auto;
}

.jd-filter-panel__level {
  grid-column: span 3;
}

/*=========================
  Filter Level
===========================*/

.jd-filter-by-level {
  display: flex;
  flex-wrap: wrap;
  gap: 0 map-get($jd-spacers, 'm');
}

.jd-filter-by-level__label {
  @extend .jd-text-body;
  @extend .jd-text-color-secondary;
}
