@import 'assets/scss/base/variables';
@import 'assets/scss/typography/body';
@import 'assets/scss/typography/colors';

/*=========================
  Filter Panel
===========================*/

.jd-filter-panel {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: map-get($jd-spacers, 'm');
}

.jd-filter-panel--disabled {
  pointer-events: none;
}

.jd-filter-panel__sort {
  width: 11rem;
}

.jd-filter-panel__markup {
  margin-left: auto;
}

.jd-filter-panel__level {
  grid-column: span 3;
}

@media #{$up-to-desktop} {
  .jd-filter-panel {
    grid-template-columns: auto 1fr;
  }

  .jd-filter-panel__markup {
    grid-column: span 2;
    margin-left: 0;
    order: 2;
  }
}

@media #{$mobile} {
  .jd-filter-panel {
    display: flex;
    flex-direction: column;
  }

  .jd-filter-panel__sort {
    width: 100%;
  }

  .jd-filter-panel__search {
    order: -1;
  }
}

/*=========================
  Filter Level
===========================*/

.jd-filter-by-level {
  display: flex;
  flex-wrap: wrap;
  gap: map-get($jd-spacers, 'xs') map-get($jd-spacers, 'm');
}

.jd-filter-by-level__label {
  @extend .jd-text-body;
  @extend .jd-text-color-secondary;
}

@media #{$up-to-desktop} {
  .jd-filter-by-level__label {
    width: 100%;
  }
}
