@import 'assets/scss/base/variables';
@import 'assets/scss/tokens/border-radius';
@import 'assets/scss/tokens/shadow';

/*=========================
  Pet Gallery
===========================*/

.jd-pet-gallery {
  @extend .jd-border-radius-m;
  @extend .jd-shadow-m;

  background: $jd-color-bg-primary;
}

.jd-pet-gallery__img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: inherit;
}
