@import 'assets/scss/base/variables';
@import 'assets/scss/tokens/border-radius';
@import 'assets/scss/tokens/shadow';
@import 'assets/scss/typography/body';

/*=========================
  Dropdown
===========================*/

.jd-dropdown {
  position: relative;
  display: flex;
}

/*=========================
  Trigger
===========================*/

.jd-dropdown__trigger {
  @include jd-border-radius-s();
  @include jd-shadow-s();

  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  height: $jd-control-height;
  border: solid 1px $jd-color-border-primary;
  background: $jd-color-bg-primary;

  &--is-opened {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.jd-dropdown__trigger-icon {
  margin: 0 -.5rem 0 .75rem;
  background-color: $jd-color-text-secondary;
}

.jd-dropdown__trigger-text {
  @extend .jd-text-body;

  padding: 0 .75rem;
  margin-right: -.75rem;
  color: $jd-color-text-secondary;
}

.jd-dropdown__trigger-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $jd-control-height;
  height: 100%;
  margin-left: auto;

  .jd-dropdown__trigger--is-opened & {
    transform: scaleY(-1);
  }
}

/*=========================
  Expand
===========================*/

.jd-dropdown__expand {
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 100%;
  margin-top: -2px;
  padding-top: 1px;
  z-index: 10;
  background: $jd-color-bg-primary;
}

/*=========================
  List
===========================*/

.jd-dropdown__list {
  @include jd-border-radius-s();

  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: $jd-color-bg-primary;
  border: solid 1px $jd-color-border-primary;
}

.jd-dropdown__item {
  @extend .jd-text-body;

  padding: .5rem .75rem;
  white-space: nowrap;
  cursor: pointer;

  &:not(:first-child) {
    border-top: solid 1px $jd-color-border-primary;
  }

  &:last-child {
    border-radius: inherit;
  }

  &--active {
    background-color: $jd-color-bg-substrate;
    color: $jd-color-text-secondary;
  }

  @media (hover: hover) {
    &:hover {
      color: $jd-color-text-accent;
    }
  }
}
