/*=========================
  Button
===========================*/

.jd-button {
  @extend .jd-text-body;

  font-weight: 500;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: .5rem;
  height: $jd-control-height;
  padding: 0 1rem;
  color: $jd-color-text-primary-inverse;
  background: none;
  border-radius: calc($jd-control-height / 2);
  letter-spacing: .02em;
  line-height: 1;
  background: $jd-color-bg-accent;
}

.jd-button .jd-button__icon {
  width: map-get($jd-spacers, 'm');
  height: map-get($jd-spacers, 'm');
  background-color: $jd-color-text-primary-inverse;
}

/*=========================
  Hover
===========================*/

@media (hover: hover) {
}

/*=========================
  Modifiers
===========================*/

.jd-button--block {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

/*=========================
  Outline
===========================*/

.jd-button--outline {
  border: solid 1px $jd-color-border-primary;
  color: $jd-color-text-accent;
  background: none;

  .jd-button__icon {
    background-color: $jd-color-text-accent;
  }
}

/*=========================
  Sizes
===========================*/

.jd-button--s {
  height: $jd-control-height-s;
  border: solid 1px $jd-color-border-primary;
}
