@import 'assets/scss/base/variables';
@import 'assets/scss/typography/body';

/*=========================
  Footer
  =========================*/

.jd-footer {
  @extend .jd-text-body;

  padding: .5rem 0;
  text-align: center;
  border-top: solid 1px $jd-color-border-primary;
  background: $jd-color-bg-primary;
  color: $jd-color-text-secondary;
}
