/*=========================
  Border-radius
===========================*/

$jd-border-radiuses: (
  xs: .1,
  s: .3,
  m: .8
);

@each $name, $size in $jd-border-radiuses {
  .jd-border-radius-#{$name} {
    border-radius: #{$size}rem;
  }
}

@mixin jd-border-radius-xs {
  border-radius: .1rem;
}

@mixin jd-border-radius-s {
  border-radius: .3rem;
}

@mixin jd-border-radius-m {
  border-radius: .8rem;
}
