/*=========================
  Header
  =========================*/

.jd-header {
  border-bottom: solid 1px $jd-color-border-primary;
}
.jd-header__in {
  height: $jd-header-height;
  display: flex;
  align-items: center;
}
.jd-header__logo {}
.jd-header__menu {
  margin-left: auto;
}
