@import 'assets/scss/base/variables';

/*=========================
  Pet layout
===========================*/

.jd-pet-layout__main {
    padding-bottom: map-get($jd-spacers, '2xl');
}

@media #{$up-to-mobile} {
  .jd-pet-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "gallery about"
      "main main";
    row-gap: map-get($jd-spacers, '2xl');
    column-gap: map-get($jd-spacers, 'xl');
  }

  .jd-pet-layout__gallery {
    grid-area: gallery;
  }

  .jd-pet-layout__about {
    grid-area: about;
  }

  .jd-pet-layout__main {
    grid-area: main;
    display: flex;
    gap: 0 map-get($jd-spacers, 'xl');
  }

  .jd-pet-layout__main-content {
    flex-grow: 1;
  }

  .jd-pet-layout__main-side {
    flex-basis: 13rem;
    min-width: 13rem;
    position: relative;
  }

  .jd-pet-layout__main-side-sticky {
    position: sticky;
    top: map-get($jd-spacers, 'm');
  }
}

@media #{$mobile} {
  .jd-pet-layout,
  .jd-pet-layout__main {
    display: flex;
    flex-direction: column;
    gap: map-get($jd-spacers, 'm');
  }

  .jd-pet-layout__main-side {
    order: -1;
    margin-bottom: map-get($jd-spacers, 'xl')
  }
}
